:root {
	--slide-count: 9;
	--slide-width: 50rem;
}

.CarouselBox {
	width: 100%;
	height: 320px;
	padding-top: 25px;
}

.BannerBox {
	position: relative;
	display: block;
	box-sizing: border-box;
	touch-action: pan-y;
}

.Banner {
	padding: 0px 40px;
	position: relative;
	display: block;
	height: 100%;
	left: 50%;
	list-style-type: none;
	margin: 0;
	transform: translateX(-50%);
}

.Carousel_Inactive > img {
	filter: brightness(50%);
}

.CarouselInner {
	display: table-cell;
	transform: translateX(16%);
}

.Carousel {
	position: relative;
	width: 1060px;
	height: 300px;
	box-sizing: border-box;
	padding: 0 12px;
	cursor: pointer;
	display: table-cell;
}

.Carousel > img {
	background: rgb(0, 0, 0, 0.5);
	border-radius: 5px;
	z-index: 100;
}

.descBox_Inactive {
	opacity: 0;
}

.descBox {
	position: initial;
	border-radius: 4px;
	background-color: #fff;
	text-align: left;
	left: 34px;
}

.descBox > div:nth-child(1) {
	margin: 20px 20px 0 20px;
	font-size: 20px;
	line-height: 1.5;
	font-weight: 700;
}

.descBox > div:nth-child(2) {
	margin: 0 20px;
	height: 44px;
	font-size: 14px;
	line-height: 1.64;
	color: #333;
	font-weight: 500;
}

.descBox > hr {
	background-color: #ececec;
	height: 1px;
	margin: 0;
	border: none;
}

.descBox > a {
	display: inline-flex;
	margin: 6px 0 0 13px;
	font-size: 14px;
	font-weight: 700;
	line-height: 1;
	color: #36f;
	height: 40px;
	position: relative;
	min-width: 64px;
	padding: 6px 8px;
	align-items: center;
	box-sizing: border-box;
	cursor: pointer;
}

.descBox > a > span:last-child > svg {
	user-select: none;
	width: 1em;
	height: 1em;
	display: inline-block;
	fill: currentColor;
	margin: -2px -1px 0 2px;
}

/* button */
.arrowLeftBtn {
	left: calc((100% - 1200px) / 2);
	justify-content: center;
	position: absolute;
	top: 120px;
	width: 30px;
	height: 60px;
	opacity: 0.5;
	border-radius: 15px;
	background-color: #fff;
	font-size: 16px;
	cursor: pointer;
	border: none;
}

.arrowRightBtn {
	right: calc((100% - 1200px) / 2);
	justify-content: center;
	position: absolute;
	top: 120px;
	width: 30px;
	height: 60px;
	opacity: 0.5;
	border-radius: 15px;
	background-color: #fff;
	font-size: 16px;
	cursor: pointer;
	border: none;
}

@media (min-width: 1200px) {
	.descBox {
		position: absolute;
		bottom: 28px;
		width: 330px;
		height: 146px;
	}
}

@media (min-width: 768px) and (max-width: 1200px) {
	.Carousel {
		width: auto;
	}
	.descBox {
		text-align: center;
	}
	.descBox > div {
		text-align: center;
		margin-top: 10px;
	}
	.descBox > hr {
		display: none;
	}
	.descBox > a {
		text-align: center;
		display: block;
		height: 40px;
		margin: 0;
	}
	.Carousel > div > div:nth-child(1) {
		margin: 0;
		margin-top: 20px;
	}
	.Carousel > div > div:nth-child(2) {
		height: auto;
		margin: 0;
		margin-top: 6px;
	}
	.arrowLeftBtn {
		display: none;
	}
	.arrowRightBtn {
		display: none;
	}
	.Carousel > img {
		border-radius: 5px;
		width: inherit;
		display: inline-block;
		height: 180px;
		object-fit: cover;
	}
	.Carousel_Inactive > img {
		border-radius: 5px;
		width: inherit;
		display: inline-block;
		height: 180px;
		object-fit: cover;
	}
	.CarouselInner {
		transform: translateX(12%);
	}
}

@media (max-width: 768px) {
	.Carousel {
		width: 360px;
	}
	.descBox {
		text-align: center;
	}
	.descBox > div {
		text-align: center;
		margin-top: 10px;
	}
	.descBox > hr {
		display: none;
	}
	.descBox > a {
		text-align: center;
		display: block;
		height: 40px;
		margin: 0;
	}
	.Carousel > div > div:nth-child(1) {
		margin: 0;
		margin-top: 20px;
	}
	.Carousel > div > div:nth-child(2) {
		height: auto;
		margin: 0;
		margin-top: 6px;
	}
	.arrowLeftBtn {
		display: none;
	}
	.arrowRightBtn {
		display: none;
	}
	.Carousel > img {
		border-radius: 5px;
		width: 340px;
		display: inline-block;
		height: 180px;
		object-fit: cover;
	}
	.Carousel_Inactive > img {
		border-radius: 5px;
		width: 340px;
		display: inline-block;
		height: 180px;
		object-fit: cover;
	}
	.CarouselInner {
		transform: translateX(10%);
	}
}
