.navBox {
	width: 100%;
	box-shadow: 0 1px 0 0 rgb(0 0 0 / 10%);
	z-index: 100;
}

.gap {
	margin: 0 auto;
	height: 50px;
	width: 90%;
	line-height: 1.42857143;
	position: relative;
	max-width: 1060px;
}

.nav {
	display: flex;
	justify-content: space-between;
	height: 50px;
	align-items: center;
}

.menu {
	display: flex;
}

.menu > button {
	border: none;
	background: transparent;
	cursor: pointer;
	padding: 0;
	margin-top: -2px;
	margin-right: 15px;
	box-sizing: border-box;
	height: 22px;
}

.menu > button > img {
	width: 17px;
	height: 14px;
	object-fit: contain;
}

.menu > span {
	cursor: pointer;
	font-size: 22px;
	font-weight: 600;
	line-height: 10px;
	font-family: "icomoon" !important;
}

.category {
	display: flex;
	list-style: none;
	flex: 1 1;
	justify-content: space-evenly;
	padding: 0;
	margin: 0;
	padding-left: 40px;
}

.category > li {
	position: relative;
	vertical-align: middle;
	font-size: 13px;
	font-weight: 600;
	display: inline-block;
	cursor: pointer;
}

.category > li > span {
	padding-left: 20px;
	position: relative;
	vertical-align: middle;
	font-size: 14px;
	line-height: 20px;
	font-weight: 600;
	padding: 15px;
	display: inline-block;
}

.category > li > span > em {
	position: absolute;
	top: 10px;
	right: -7px;
	width: auto;
	font-style: normal;
	padding: 0;
}

.side {
	padding: 9px 0;
	height: auto;
	font-size: 14px;
	line-height: 1.42857143;
}

.side > ul {
	display: flex;
	list-style: none;
	padding-left: 40px;
	align-items: center;
	margin: 0;
}

.side > ul > li {
	position: relative;
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

.side > ul > li > * {
	border: none;
	background: transparent;
	position: relative;
	height: 100%;
	padding: 0 10px;
	margin-top: 5px;
	font-weight: 600;
	cursor: pointer;
}

.side > ul > li:nth-child(3) {
	margin-right: 5px;
}

.side > ul > li:last-child > button:last-child {
	height: 30px;
	border: 1px solid #e1e2e3;
	border-radius: 15px;
	padding: 0 10px;
	font-weight: 400;
	box-sizing: border-box;
}

.side > ul > li > .notiUpdate {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	background-color: rgb(51, 102, 255);
	width: 13px;
	height: 13px;
	position: absolute;
	top: -7px;
	left: 24px;
	padding: 0 !important;
	border-radius: 5px;
}

.side > ul > li > .profileUpdate {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	background-color: rgb(51, 102, 255);
	width: 13px;
	height: 13px;
	position: absolute;
	top: -2px;
	left: 26px;
	padding: 0 !important;
	border-radius: 5px;
}

.side > ul li:last-child {
	display: inline-flex;
}

.side > ul li:last-child::before {
	display: block;
	content: "";
	width: 1px;
	height: 10px;
	background-color: #e1e2e3;
	margin: auto 10px;
}

.side > ul li:last-child > button {
	font-size: 13px;
	color: #666;
	line-height: 30px;
	height: 30px;
	border: 1px solid #e1e2e3;
	border-radius: 15px;
	padding: 0 10px;
	margin-left: 15px;
	font-weight: 400;
	margin-top: 0;
}

.avatarImage {
	width: 28px;
	height: 28px;
	border-radius: 50%;
	background-position: 50%;
	background-size: cover;
	background-repeat: no-repeat;
}
